:root{
	--nums:.1;
	--first-color: hsla(347,85%,64%,var(--nums));
	--second-color: hsla(319,89%,65%,.8);
	--third-color: hsla(253,73%,60%,.8);
	--fourth-color: hsla(211,93%,54%,var(--nums));

	--fifth-color: hsla(190,100%,40%,.8);
	--sixth-color: hsla(155,100%,39%,.8);
	--seventh-color: hsla(0,0%,25%,.8);
}

body{
	color:hsl(52,96%,86%);
	font-size: 20px;
	/*background-color:#000;*/
	background:#000 linear-gradient(90deg, var(--first-color), var(--second-color), var(--third-color));	
	/*background:linear-gradient(258deg, var(--first-color), var(--second-color), var(--third-color), var(--fourth-color),var(--fifth-color),var(--sixth-color),var(--seventh-color));*/
	background-size: 400% 400%;
	-webkit-animation: AnimationName 30s ease infinite;
	-moz-animation: AnimationName 30s ease infinite;
	animation: AnimationName 30s ease infinite;
}


/*body:after{
	width:100%;
	height:100%;
	display: block;
	position: absolute;
	top:0;
	left:0;
	content: "";
	background:linear-gradient(60deg,rgb(255,255,255),rgb(0,0,0),rgb(255,255,255),rgb(0,0,0),rgb(255,255,255),rgb(0,0,0),rgb(255,255,255),rgb(0,0,0));
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
}*/

.wrap_notebook{	
	width:11rem;
	height:11rem;
	margin:30% auto;
	position:relative;
	perspective: 1000;
    -webkit-perspective: 1000; 
	animation: color 30s linear infinite;
	box-shadow: .5rem .5rem .5rem #000000;;
}



.notebook:before {
	content:"";
	display:block;
	border-width:.33rem;
	border-color:#FB8FB3  transparent transparent; 
	background:transparent;
	border-style:solid; 
	width:0;
	position:absolute;
	bottom:0;
	right:0;
	-webkit-box-shadow:-1px -1px 1px rgba(0,0,0,0.3);
	-moz-box-shadow:-1px -1px 1px rgba(0,0,0,0.3);
}


.notebook{
	width:9rem;
	height:9rem;
	padding:1rem;
	color:fcb3cb;
	background-color: currentColor;
	position: absolute;
	z-index: 2;
	transform:skew(0deg);
	-webkit-transform:skew(0deg);
	transform-origin:0 0;
	-moz-transform-origin:0 0;
    -webkit-transform-style: preserve-3d;
    -webkit-animation: spin  2.5s  infinite linear;
	-webkit-transform-origin:0 0;
	webkit-backface-visibility:hidden;
	z-index: 5;
}

.page{
	width:100%;
	height:101%;
	background-color: currentColor;
	position: absolute;
	top:0;
	left:0;
	z-index:4;
}

.page:before{
	width:100%;
	content: '';
	height:102%;
	position: absolute;
	top:0;
	left:0;
	background-color: currentColor;
	/*background-image: linear-gradient(to bottom, currentColor, #fff);*/
	transform:skew(1deg);
	-webkit-transform:skew(1deg);
	transform-origin:0 0;
	-moz-transform-origin:0 0;
	z-index: 3;
	box-shadow: 0 0 2px rgba(0,0,0,.1);
}
.page:after{
	width:100%;
	content: '';
	position: absolute;
	top:0;
	left:0;
	height:103%;
	background-color: #dc8f08;
	transform:skew(2deg);
	-webkit-transform:skew(2deg);
	transform-origin:0 0;
	-moz-transform-origin:0 0;
	z-index: 2;
	box-shadow: 0 0 2px rgba(0,0,0,.1);
}

.line:nth-child(1){
	width: 0;
	height:.25rem;
	background-color:#333;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-webkit-animation:line1 2.5s infinite ease;
	-moz-animation:line1 2.5s infinite ease;
}
.line:nth-child(2){
	width:9rem;
	height: 0;
	border-right:.25rem solid #333;
	transform:skew(-45deg);
	-webkit-transform:skew(-45deg);
	transform-origin:0 0;
	-moz-transform-origin:0 0;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-webkit-animation:line2 2.5s infinite ease;
	-moz-animation:line2 2.5s infinite ease;
}


.line:nth-child(3){
	width: 0;
	height: .25rem;
	border-top:.25rem solid #333;
	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-webkit-animation:line3 2.5s infinite ease;
	-moz-animation:line3 2.5s infinite ease;
	-ms-backface-visibility:hidden;
}


.letter{
	font-size: 10rem;
	text-align: center;
	color:#fff;
}

@-webkit-keyframes line1{
0%{
	width:0px;
	opacity: 1;
} 20%{
	width:9rem;
	opacity: 1;
}
90%{
	width:9rem;
	opacity: 1;
}
  100%{
	width:9rem;
	opacity: 0;
} 
}
@-moz-keyframes line1{
0%{
	width:0px;
	opacity: 1;
} 20%{
	width:9rem;
	opacity: 1;
}
90%{
	width:9rem;
	opacity: 1;
}
  100%{
	width:9rem;
	opacity: 0;
} 
}

@-webkit-keyframes line2{
0%{
	height:0px;
	opacity: 1;
} 20%{
	height:0px;
	opacity: 1;
}
40%{
	height:9rem;
	opacity: 1;
}
90%{
	height:9rem;
	opacity: 1;
}
  100%{
	height:9rem;
	opacity: 0;
} 
}

@-moz-keyframes line2{
0%{
	height:0px;
	opacity: 1;
} 20%{
	height:0px;
	opacity: 1;
}
40%{
	height:9rem;
	opacity: 1;
}
90%{
	height:9rem;
	opacity: 1;
}
  100%{
	height:9rem;
	opacity: 0;
} 
}

@-webkit-keyframes line3{
0%{
	width:0px;
	opacity: 1;
} 40%{
	width:0;
	opacity: 1;
} 60%{
	width:9rem;
	opacity: 1;
}
90%{
	width:9rem;
	opacity: 1;
}
  100%{
	width:9rem;
	opacity: 0;
} 
}

@-moz-keyframes line3{
0%{
	width:0px;
	opacity: 1;
} 40%{
	width:0;
	opacity: 1;
} 60%{
	width:9rem;
	opacity: 1;
}
90%{
	width:9rem;
	opacity: 1;
}
  100%{
	width:9rem;
	opacity: 0;
} 
}


.pen{
	width: 0rem;
	border:.3rem solid #fff;
	border-top-left-radius: .8rem;
	border-top-right-radius: .8rem;
	height:3.5rem;
	left:2rem;
	top:1rem;
	background-color: rgb(255,255,255);
	box-shadow: 0 0 3rem  rgba(255, 255, 255, 0.5);
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	position: absolute;
	z-index: 36;
	transition-property:all;
}

.pen-shadow{
	width: .6rem;
	content: '';
	height:3.5rem;
	left:-0.4rem;
	top:0;
	/*box-shadow: 1rem 0px 5rem #000000;*/
	position: absolute;
	z-index: 36;
	transition-property:all;
}


.pen1{
	top:1rem;
	left:11rem;
	transition-duration:.5s;
	-webkit-transition-duration:.5s;
}
.pen2{
	transition-duration:.5s;
	-webkit-transition-duration:.5s;
	left:2rem;
	top:10rem;
}
.pen3{
	transition-duration:.5s;
	-webkit-transition-duration:.5s;
	left:11rem;
	top:10rem;
}


.sword {
  width:3rem;
  display: inline-block;
  margin: 5rem;
  transform-origin: 50% 75%;
  animation: 5s swing cubic-bezier(0,1.38,.83,.67) infinite;
  	-webkit-transform:  rotateX(30deg) rotateY(150deg) rotateZ(140deg) scale3d(1, 1, 1); -webkit-transform-origin: 0 0;

}
.sword1 {
  background-color: hsl(0, 0%, 81%);
}


.sword1, .sword2, .sword3 {
  margin: auto;
}
.sword1, .sword2 {
  background-color: hsl(53, 19%, 22%);
}


.sword1 {
  height: 14rem;
  width: 0;
  background-color: #f0f0f0;
  border-left: 5px solid #eee;
  border-right: 5px solid #9a8601;
  border-top-left-radius:100%;
  border-top-right-radius:100%;
  box-shadow: 0 0 3rem .5rem rgba(240,208,0,.2);
}
.sword2 {
  background-image: -webkit-radial-gradient(ellipse farthest-corner at center center,#015e50, #fff, #015e50,#000);
  height: .6rem;
  width: 100%;
  border-radius: .3rem;
}
.sword3 {
  height: 4rem;
  width: .4rem;
  border:.2rem solid rgba(188,188,188,.2);
  border-bottom-left-radius:.1rem;
  border-bottom-right-radius:.1rem; 
  background: -webkit-linear-gradient(#030000, #ffffff , #505050, #cecece, #f5f5f5, #000); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#030000, #ffffff , #505050, #cecece, #f5f5f5, #000); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#030000, #ffffff , #505050, #cecece, #f5f5f5, #000); /* Firefox 3.6 - 15 */
  background: linear-gradient(#030000, #ffffff , #505050, #cecece, #f5f5f5, #000); /* 标准的语法 */
}


@-webkit-keyframes spin {
    0% {-webkit-transform: rotateX(0);}
    60% {-webkit-transform: rotateX(0);}
    100% {-webkit-transform: rotateX(270deg);}
}


@keyframes color {
  33.3% { color: #c1fb5d; }
  66.7% { color: #fff; }
}



@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
